/* blackbar */
.black-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.bb-drop
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bb-icon
{
    display: flex;
    gap: 30px;
    padding-top: 5px;
}
.bb-icon p i
{
    border: 2px solid orange;
    background-color: orange;
    width: fit-content;
    color: white;
    padding: 5px;
    

}
.bb-icon p i:hover
{
    color: black;
}
.bb-social
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fb
{
    border: 2px solid orange;
    padding: 5px;
    background-color: orange;
    color: white;
}
.fb:hover
{
    color: black;
}

/* navbar */

.nav-item:hover
{
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
}



/* carousel */

.carousel
{
    padding-bottom: 30px;
}

.custom-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
}

.custom-caption h1 {

    /* font-size: 50px; */
  font-weight: bold;
  color: white;
}

.custom-caption button {
  margin-top: 25px;
  padding: 10px;
 margin-left: 20px;
}

.custom-caption .btn-dark
{
    padding: 10px 15px;
}

/* services */

.services
{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  padding: 40px;
  border-radius: 10px; 
  background-color: #fff; 
  margin: 40px; 
}

.services-head
{
   padding-left: 30px;
}

.boxes-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.service-box
{
    border: 2px solid transparent;
    width: 380px;
    padding: 10px;
    text-align: justify;
}
.service-box img
{
    padding-bottom: 20px;
    color: black;
}
/* 
.service-box img:hover
{
     color: black;
} */
.service-box h3
{
    padding-bottom: 20px;
}

/* about us */

.about-us
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.about
{
    width: 700px;
    text-wrap: wrap;
}
.about button
{
    padding: 10px;
    background-color: orange;
    color: #fff;
}
.orange-bar1
{
    width: 40px;
    height: 250px;
    border: 2px solid orange;
    background-color: orange;
    color: orange;
    z-index: 2;
    position: absolute;
    margin-left: 250px;
    margin-top: 60px;
    
}
.orange-bar2
{
    width: 70px;
    height: 250px;
    border: 2px solid orange;
    background-color: orange;
    color: orange;
    z-index: -2;
    position: absolute;
    margin-left: 1250px;
    margin-top: 60px;
    
}
.abou-img
{
    /* width: 500px;
    height: 100px; */
    position: relative;
}

/* projects*/

.projects
{
    padding-left: 50px;
    margin-bottom: 100px;
}

.Filter
{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 50px;
    /* margin-left: 150px; */
}

.pro-head
{
    /* padding-left: 150px; */
}

/* card */

.card
{
    width: 400px;
}

.card-body
{
    background-color: orange;
    text-align: justify;
}

.flex-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 800px;
    /* margin-left: 200px; */
    padding-top: 50px;
}

/* testimonal */
.testimonal
{
  text-align: center;
  background-image: url(images/client-bg.jpg);
  width: 100%;
  height: 100%;
  
}

.testimonal h1
{
  color: white;
  padding-top: 50px;
}
.test-cont
{
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.test1
{
  border: 2px solid black;
  background-color: white;
  text-wrap: wrap;
  width: 800px;
  position: relative;
  padding: 70px;
  text-align: justify;
  margin-bottom: 100px;
}

.test1 h6
{
  color: orange;
}
.test-cont img
{
  width: 100px;
  border-radius: 20px;
  z-index: 2;
  /* margin-top: -50px; */
  margin-left: -50px;
  position: absolute;
}

/* why choose us */
/* 
.why-cont
{
  width: 500px;
} */
.WhyChooseus
{
  margin-bottom: 100px;
}
.why1-img
{
  border: 2px solid orange;
  background-color: orange;
  padding: 50px;
}

.why1
{
  display: flex;
  width: 800px;
  margin-bottom: 100px;
  align-items: center;
  gap: 50px;
  margin: 10px;
}

/* contacts */

.connect
{
  margin-bottom: 100px;
}
.ip
{
  margin-left: 15px;
}

.ip input
{
  margin-bottom: 50px;
  width: 500px;
  height: 50px;
 box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
}

.ip button
{
  padding: 10px 30px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  border: orange;
 
}

.contacts
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* footer */

footer
{
  background-color: black;
  color: white;
}

.foot-main
{
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  /* gap: 250px; */
  /* margin-left: 50px; */
}

.foot-contact
{
  display: flex;
  justify-content: center;
  gap: 300px;
  font-size: 20px;
  padding-top: 100px;
  /* margin-left: -200px; */
}

.call i
{
  padding-left: 70px;
  
}

.call:hover
{
  color: orange;
}

.mail i
{
  padding-left: 100px;
}

.mail:hover
{
  color: orange;
}

.city i
{
  padding-left: 10px;
}

.city:hover
{
  color: orange;
}
.quick-links
{
  display: flex;
 gap: 30px;
}

.ql1 a
{
   text-decoration: none;
   color: white;
}

.ql2 a
{
  text-decoration: none;
  color: white;
}

.ql1 a:hover
{
  color: orange;
}

.ql2 a:hover
{
  color: orange;
}

.main-ql
{
  /* margin-left: 200px; */
  /* padding-top: 70px; */
}

.foot-ip input
{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.foot-ip button
{
  padding: 15px;
  background-color: orange;
  color: white;
}

.foot-last
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 500px;
}
.foot-i
{
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.foot-social
{
  border: 5px solid orange;
  padding: 10px;
  border-radius: 55px;
  background-color: orange;
}
.foot-img1
{
  border: 5px solid white;
  border-width: 5px 7px 5px 7px white;
}
.foot-img2
{
  border: 2px solid white;
  border-width: 15px white;
}
/* media query */

@media (max-width: 768px) 
{
    /* black-bar */
    .black-bar
    {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }
    .bb-icon
    {
        display:none;
    }
    .bb-drop
    {
        display: none;
    }
    .bb-social
    {
       align-self: center;
    }
    /* carousel */
  .custom-caption button 
  {
    display: none;
  }

  /* services */

  .boxes-cont
  {
    flex-direction: column;
  }

  /* about us */

  .about-us
  {
      flex-direction: column;
      align-items: start;
      justify-content: center;

  }
  .about
  {
    margin-left: 50px;
    text-wrap: wrap;
    width: 500px;
  }
 .abou-img
 {
  margin-left: 30px;
 }

  /* projects */

.projects {
    padding: 20px;
  }


  .projects .flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  
  .projects .carousel {
    width: 100%;
  }

 
  .projects .card img {
    height: 200px;
    object-fit: cover;
  }

  .projects .card-body {
    text-align: center;
    padding: 15px;
  }

  .projects .card-body h4 {
    font-size: 18px;
  }

  .projects .card-body p {
    font-size: 14px;
  }

 
  .projects .pro-head h1 {
    font-size: 26px;
    text-align: center;
  }

 
  .projects .Filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  .projects .Filter p {
    margin: 0;
    font-size: 14px;
    padding: 5px 10px;
  }

  /* testimonal */

  .test1
  {
    height: 300px;
  }

  .test-cont img
  {
   width: 70px;
   /* z-index: 5; */
   margin-left:-0px;
  }

  /* why choose */

  .why1
  {
    flex-direction: column;
    text-wrap: wrap;
    text-align: start;
  }
  .why1-cont
  {
    width: 500px;
    text-align: justify;
    margin-right: 300px;

  }
  .why1-img
  {
 margin-right: 640px;
 /* margin-bottom: 30px; */
  }

  /* contact */

  .contacts
  {
    flex-direction: column;
    align-items: start;
   
  }

  .ip
  {
    margin-bottom: 30px;
  }

  .map
  {
    margin-left: 15px;
  }
/* footer */
  .foot-contact
  {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .foot-main
  {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .foot-last
  {
    flex-direction: column;
    gap: 30px;
  }

}
 