/* blackbar */
.black-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.bb-drop
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bb-icon
{
    display: flex;
    gap: 30px;
    padding-top: 5px;
}
.bb-icon p i
{
    border: 2px solid orange;
    background-color: orange;
    width: fit-content;
    color: white;
    padding: 5px;
    

}
.bb-icon p i:hover
{
    color: black;
}
.bb-social
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fb
{
    border: 2px solid orange;
    padding: 5px;
    background-color: orange;
    color: white;
}
.fb:hover
{
    color: black;
}

/* navbar */

.nav-item:hover
{
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
}



/* carousel */

.carousel
{
    padding-bottom: 30px;
}

.custom-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
}

.custom-caption h1 {

    /* font-size: 50px; */
  font-weight: bold;
  color: white;
}

.custom-caption button {
  margin-top: 25px;
  padding: 10px;
 margin-left: 20px;
}

.custom-caption .btn-dark
{
    padding: 10px 15px;
}

/* services */

.services
{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  padding: 40px;
  border-radius: 10px; 
  background-color: #fff; 
  margin: 40px; 
}

.services-head
{
   padding-left: 30px;
}

.boxes-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.service-box
{
    border: 2px solid transparent;
    width: 380px;
    padding: 10px;
    text-align: justify;
}
.service-box img
{
    padding-bottom: 20px;
    color: black;
}
/* 
.service-box img:hover
{
     color: black;
} */
.service-box h3
{
    padding-bottom: 20px;
}

/* about us */

.about-us
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.about
{
    width: 700px;
    text-wrap: wrap;
}
.about button
{
    padding: 10px;
    background-color: orange;
    color: #fff;
}
.orange-bar1
{
    width: 40px;
    height: 250px;
    border: 2px solid orange;
    background-color: orange;
    color: orange;
    z-index: 2;
    position: absolute;
    margin-left: 250px;
    margin-top: 60px;
    
}
.orange-bar2
{
    width: 70px;
    height: 250px;
    border: 2px solid orange;
    background-color: orange;
    color: orange;
    z-index: -2;
    position: absolute;
    margin-left: 1250px;
    margin-top: 60px;
    
}
.abou-img
{
    /* width: 500px;
    height: 100px; */
    position: relative;
}

/* projects*/

.projects
{
    padding-left: 50px;
    margin-bottom: 100px;
}

.Filter
{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 50px;
    /* margin-left: 150px; */
}

.pro-head
{
    /* padding-left: 150px; */
}

/* card */

.card
{
    width: 400px;
}

.card-body
{
    background-color: orange;
    text-align: justify;
}

.flex-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1300px;
    /* margin-left: 200px; */
    padding-top: 50px;
}

/* testimonal */
.testimonal
{
  text-align: center;
  background-image: url(images/client-bg.jpg);
  width: 100%;
  height: 100%;
  
}

.testimonal h1
{
  color: white;
  padding-top: 50px;
}
.test-cont
{
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.test1
{
  border: 2px solid black;
  background-color: white;
  text-wrap: wrap;
  width: 800px;
  position: relative;
  padding: 70px;
  text-align: justify;
  margin-bottom: 100px;
}

.test1 h6
{
  color: orange;
}
.test-cont img
{
  width: 100px;
  border-radius: 20px;
  z-index: 2;
  /* margin-top: -50px; */
  margin-left: -50px;
  position: absolute;
}

/* why choose us */
/* 
.why-cont
{
  width: 500px;
} */
.WhyChooseus
{
  margin-bottom: 100px;
}
.why1-img
{
  border: 2px solid orange;
  background-color: orange;
  padding: 50px;
}

.why1
{
  display: flex;
  width: 800px;
  margin-bottom: 100px;
  align-items: center;
  gap: 50px;
  margin: 10px;
}

/* contacts */

.connect
{
  margin-bottom: 100px;
}
.ip
{
  margin-left: 15px;
}

.ip input
{
  margin-bottom: 50px;
  width: 500px;
  height: 50px;
 box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
}

.ip button
{
  padding: 10px 30px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  border: orange;
 
}

.contacts
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* footer */

footer
{
  background-color: black;
  color: white;
}

.foot-main
{
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  /* gap: 250px; */
  /* margin-left: 50px; */
}

.foot-contact
{
  display: flex;
  justify-content: center;
  gap: 300px;
  font-size: 20px;
  padding-top: 100px;
  /* margin-left: -200px; */
}

.call i
{
  padding-left: 70px;
  
}

.call:hover
{
  color: orange;
}

.mail i
{
  padding-left: 100px;
}

.mail:hover
{
  color: orange;
}

.city i
{
  padding-left: 10px;
}

.city:hover
{
  color: orange;
}
.quick-links
{
  display: flex;
 gap: 30px;
}

.ql1 a
{
   text-decoration: none;
   color: white;
}

.ql2 a
{
  text-decoration: none;
  color: white;
}

.ql1 a:hover
{
  color: orange;
}

.ql2 a:hover
{
  color: orange;
}

.main-ql
{
  /* margin-left: 200px; */
  /* padding-top: 70px; */
}

.foot-ip input
{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.foot-ip button
{
  padding: 15px;
  background-color: orange;
  color: white;
}

.foot-last
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 500px;
}
.foot-i
{
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.foot-social
{
  border: 5px solid orange;
  padding: 10px;
  border-radius: 55px;
  background-color: orange;
}
.foot-img1
{
  border: 5px solid white;
  border-width: 5px 7px 5px 7px white;
}
.foot-img2
{
  border: 2px solid white;
  border-width: 15px white;
}
/* media query */

/* Media Queries for All Screen Sizes */

/* Extra Large Screens (1200px and above) */
@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
  
  .services {
    margin: 40px auto;
    max-width: 1400px;
  }
  
  .flex-cont {
    gap: 70px;
  }
}

/* Large Screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .black-bar {
    padding: 10px 3%;
  }
  
  .services {
    margin: 40px 20px;
  }
  
  .service-box {
    width: 320px;
  }
  
  .about {
    width: 600px;
  }
  
  .flex-cont {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 350px;
  }
  
  .foot-contact {
    gap: 150px;
  }
  
  .foot-last {
    gap: 300px;
  }
}

/* Medium Screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .black-bar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
  }
  
  .bb-icon {
    gap: 20px;
  }
  
  .services {
    margin: 30px 15px;
    padding: 30px;
  }
  
  .boxes-cont {
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .service-box {
    width: 45%;
    min-width: 280px;
  }
  
  .about-us {
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
  }
  
  .about {
    width: 100%;
    text-align: center;
  }
  
  .abou-img img {
    width: 100%;
    max-width: 500px;
  }
  
  .projects {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .Filter {
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-cont {
    width: 100%;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 500px;
  }
  
  .test1 {
    width: 90%;
    padding: 50px 40px;
  }
  
  .test-cont img {
    width: 80px;
    margin-left: -30px;
  }
  
  .why1 {
    width: 100%;
    padding: 0 20px;
  }
  
 .contacts {
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
  }
  
  .ip {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  
  .ip input {
    width: 100%;
    max-width: 600px;
    height: 55px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  
  .ip input[type="text"]:last-child {
    height: 150px;
  }
  
  .map {
    width: 100%;
    text-align: center;
  }
  
  .map iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
  }
  
  .ip button {
    padding: 12px 35px;
    font-size: 16px;
  }
  
  .foot-contact {
    gap: 50px;
    flex-direction: column;
    text-align: center;
  }
  
  .foot-main {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  
  .foot-last {
    gap: 100px;
    flex-direction: column;
    text-align: center;
  }
}

/* Small Screens (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .black-bar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
    text-align: center;
  }
  
  .bb-icon {
    flex-direction: column;
    gap: 10px;
  }
  
  .bb-social {
    justify-content: center;
  }
  
  .services {
    margin: 20px 10px;
    padding: 20px;
  }
  
  .services-head {
    padding-left: 0;
    text-align: center;
  }
  
  .boxes-cont {
    flex-direction: column;
    gap: 20px;
  }
  
  .service-box {
    width: 100%;
    text-align: center;
  }
  
  .about-us {
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
  }
  
  .about {
    width: 100%;
    text-align: center;
  }
  
  .abou-img img {
    width: 100%;
  }
  
  .projects {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  
  .Filter {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-cont {
    width: 100%;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  
  .card {
    width: 100%;
  }
  
  .testimonal h1 {
    padding-top: 30px;
  }
  
  .test-cont {
    padding-top: 100px;
  }
  
  .test1 {
    width: 90%;
    padding: 60px 30px 30px;
    margin-bottom: 70px;
  }
  
  .test-cont img {
    width: 70px;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
  }
  .client-pic
  {
    display: none;
  }
  
  .WhyChooseus {
    text-align: center;
    padding: 0 15px;
  }
  
  .why1 {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .why1-cont {
    text-align: center;
  }
  
  .contacts {
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
  }
  
  .ip {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  
  .ip input {
    width: 100%;
    max-width: 400px;
  }
  
  .map iframe {
    width: 100%;
    max-width: 400px;
    height: 350px;
  }
  
  .foot-contact {
    gap: 30px;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
  }
  
  .foot-main {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  
  .quick-links {
    justify-content: center;
  }
  
  .foot-last {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }
  
  .foot-i {
    justify-content: center;
  }
}

/* Extra Small Screens (Below 576px) */
@media (max-width: 575px) {
  .black-bar {
    flex-direction: column;
    gap: 10px;
    padding: 10px 5%;
    text-align: center;
  }
  
  .bb-drop {
    flex-direction: column;
    gap: 5px;
  }
  
  .bb-icon {
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
  }
  
  .bb-social {
    justify-content: center;
    gap: 5px;
  }
  
  .fb {
    padding: 3px;
  }
  
  .navbar-brand img {
    max-width: 150px;
  }
  
  .custom-caption h1 {
    font-size: 1.5rem;
  }
  
  .custom-caption button {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: 14px;
  }
  
  .services {
    margin: 15px 5px;
    padding: 15px;
  }
  
  .services-head {
    padding-left: 0;
    text-align: center;
  }
  
  .services-head h1 {
    font-size: 1.8rem;
  }
  
  .boxes-cont {
    flex-direction: column;
    gap: 15px;
  }
  
  .service-box {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  
  .service-box h3 {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
  
  .about-us {
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
  }
  
  .about {
    width: 100%;
    text-align: center;
  }
  
  .about h1 {
    font-size: 1.8rem;
  }
  
  .abou-img img {
    width: 100%;
  }
  
  .projects {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .pro-head h1 {
    font-size: 1.8rem;
  }
  
  .Filter {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Filter p {
    font-size: 14px;
    padding: 8px;
  }
  
  .flex-cont {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .card {
    width: 100%;
  }
  
  .card-body h4 {
    font-size: 1.2rem;
  }
  
  .testimonal h1 {
    padding-top: 20px;
    font-size: 1.8rem;
  }
  
  .test-cont {
    padding-top: 80px;
  }
  
  .test1 {
    width: 95%;
    padding: 50px 20px 20px;
    margin-bottom: 60px;
  }
  
  .test-cont img {
    width: 60px;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
  }

   .client-pic
  {
    display: none;
  }
  
  .WhyChooseus {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 60px;
  }
  
  .WhyChooseus h1 {
    font-size: 1.8rem;
  }
  
  .why1 {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .why1-img {
    padding: 30px;
  }
  
  .why1-cont {
    text-align: center;
  }
  
  .why1-cont h5 {
    font-size: 1.2rem;
  }
  
  .connect {
    margin-bottom: 60px;
  }
  
  .contacts {
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
  }
  
  .ip {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  
  .ip h1 {
    font-size: 1.8rem;
  }
  
  .ip input {
    width: 100%;
    max-width: 350px;
    height: 45px;
    margin-bottom: 30px;
  }
  
  .map iframe {
    width: 100%;
    max-width: 350px;
    height: 300px;
  }
  
  .foot-contact {
    gap: 20px;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
  }
  
  .call i, .mail i, .city i {
    padding-left: 0;
  }
  
  .foot-main {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  
  .quick-links {
    flex-direction: column;
    gap: 10px;
  }
  
  .foot-ip input {
    width: 100%;
    max-width: 300px;
  }
  
  .foot-last {
    gap: 20px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .foot-i {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .foot-social {
    padding: 8px;
  }
}

/* Orientation-specific adjustments */
@media (max-height: 500px) and (orientation: landscape) {
  .black-bar {
    padding: 5px 3%;
  }
  
  .services {
    padding: 20px;
    margin: 20px 10px;
  }
  
  .test1 {
    padding: 40px 20px 20px;
    margin-bottom: 50px;
  }
  
  .test-cont {
    padding-top: 60px;
  }

   .client-pic
  {
    display: none;
  }
}

/* High-resolution displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .service-box img,
  .abou-img img,
  .card-img-top,
  .test-cont img,
  .why1-img img,
  .foot-logo img {
    image-rendering: -webkit-optimize-contrast;
  }
}